{% for magento_invoice in invoice.magentoinvoice_set.all %}
  <tr valign="top">
    <td>
      Magento
      {% if magento_invoice.invoice.is_credit %}
        Credit Note
      {% else %}
        Invoice
      {% endif %}
    </td>
    <td>
      <i class="fa fa-fw fa-shopping-cart"></i>
      {% if magento_invoice.magento_invoice_increment_id %}
        {% if user.is_superuser %}
          {% if magento_invoice.invoice.is_credit %}
            <a href="{% url 'magento.credit.detail' magento_invoice.magento_invoice_increment_id %}">
          {% else %}
            <a href="{% url 'magento.invoice.detail' magento_invoice.magento_invoice_increment_id %}">
          {% endif %}
            {{ magento_invoice.magento_invoice_increment_id }}
          </a>
        {% else %}
          {{ magento_invoice.magento_invoice_increment_id }}
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% if magento_invoice.magento_order_increment_id %}
    <tr valign="top">
      <td>Magento Sales Order</td>
      <td>
        <i class="fa fa-fw fa-shopping-cart"></i>
        {% if user.is_superuser %}
          <a href="{% url 'magento.sales.order.detail' magento_invoice.magento_order_increment_id %}">
            {{ magento_invoice.magento_order_increment_id }}
          </a>
        {% else %}
          {{ magento_invoice.magento_order_increment_id }}
        {% endif %}
      </td>
    </tr>
  {% endif %}
  {% if magento_invoice.magento_customer_id %}
    <tr valign="top">
      <td>Magento Customer</td>
      <td>
        <i class="fa fa-fw fa-shopping-cart"></i>
        <a href="{% url 'magento.customer.detail' magento_invoice.magento_customer_id %}">
          {{ magento_invoice.magento_customer_id }}
        </a>
      </td>
    </tr>
  {% endif %}
{% endfor %}
