<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Magento</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'magento.settings.update' %}" class="pure-menu-link">
      <i class="fa fa-shopping-cart"></i>
      Settings
    </a>
  </div>
  {% if user.is_superuser %}
    <div class="r-box">
      <a href="{% url 'magento.site.list' %}" class="pure-menu-link">
        <i class="fa fa-shopping-cart"></i>
        Magento Sites
      </a>
    </div>
  {% endif %}
</div>
