{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Magento Customer {{ customer_id }}
{% endblock title %}

{% block sub_heading %}
  Magento Customer {{ customer_id }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td colspan="2">
              customer_id
            </td>
            <td colspan="2">
              <strong>{{ data.customer_id }}</strong>
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              increment_id
            </td>
            <td colspan="2">
              {{ data.increment_id }}
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              group_id
            </td>
            <td colspan="2">
              {{ data.group_id }}
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              company_name
            </td>
            <td colspan="2">
              {{ data.company_name }}
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              email
              <br>
              firstname
              <br>
              lastname
            </td>
            <td colspan="2">
              {{ data.email }}
              <br>
              {{ data.firstname }}
              <br>
              {{ data.lastname }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="small-margin-top">
        Data:
        <textarea id="id_code">
          {{ json_data }}
        </textarea>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_codemirror.html' %}
{% endblock script_extra %}
