{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  {{ caption }} for {{ increment_id }}
{% endblock title %}

{% block sub_heading %}
  {{ caption }} for {{ increment_id }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td colspan="2">
              <strong>increment_id</strong>
              <br>
              invoice_id
              <br>
              order_increment_id
              <br>
              order_id
            </td>
            <td colspan="3">
              <strong>{{ data.increment_id }}</strong>
              <br>
              {{ data.invoice_id }}
              <br>
              <a href="{% url 'magento.sales.order.detail' data.order_increment_id %}">
                {{ data.order_increment_id }}
              </a>
              <br>
              {{ data.order_id }}
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              subtotal
              <br>
              tax_amount
              <br>
              grand_total
            </td>
            <td colspan="3">
              {{ data.subtotal }}
              <br>
              {{ data.tax_amount }}
              <br>
              {{ data.grand_total }}
            </td>
          </tr>
          <tr valign="top" class="pure-table-odd">
            <td>item_id</td>
            <td>sku</td>
            <td>qty</td>
            <td>price</td>
            <td>row_total</td>
          </tr>
          {% for x in data.items %}
            <tr valign="top">
              <td>
                {{ x.item_id }}
              </td>
              <td>
                {{ x.sku }}
                <small>({{ x.name }})</small>
              </td>
              <td>
                {{ x.qty }}
              </td>
              <td>
                {{ x.price }}
              </td>
              <td>
                {{ x.row_total }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="small-margin-top">
        Data:
        <textarea id="id_code">
          {{ json_data }}
        </textarea>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_codemirror.html' %}
{% endblock script_extra %}
