{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Magento Sites
{% endblock title %}

{% block sub_heading %}
  Magento Sites
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'magento.site.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create Site
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Description</th>
            <th>URL</th>
            <th>Audit</th>
            <th>Payment Methods</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'magento.site.update' o.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ o.description }}
                </a>
              </td>
              <td>
                {{ o.api_url }}
              </td>
              <td>
                <a href="{% url 'magento.site.audit.list' o.pk %}">
                  {% with o.last_audit as audit %}
                    {% if audit %}
                      Last download {{ audit.date_complete|date:'d/m/Y' }}
                    {% else %}
                      No downloads yet...
                    {% endif %}
                  {% endwith %}
                </a>
              </td>
              <td>
                <a href="{% url 'magento.site.payment.method.list' o.pk %}">
                  <i class="fa fa-link"></i>
                  Payment Methods...
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
