{% extends 'dash/base.html' %}

{% block sub_title %}
  Update Magento Payment Method
{% endblock sub_title %}

{% block sub_heading %}
  Update Magento Payment Method
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'magento.site.payment.method.list' object.magento_site.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Magento Payment Methods
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-2-3">
      <p>
        Update the
        <strong>
          '{{ object.slug }}'
        </strong>
        Magento payment method:
      </p>
      <p>
        <i class="fa fa-info-circle"></i>
        This form is linking a <strong>Magento payment method</strong>
        ('{{ object.slug }}') to a <strong>payment processor</strong>.
      </p>
      {% include '_form.html' with aligned=True %}
      <p>
        <i class="fa fa-warning"></i>
        Warning
        <ul>
          <li>
            If you tick <strong>On account</strong> for this '{{ object.slug }}'
            payment method, invoices will be posted individually not in batches.
          </li>
          <li>
            Only update the <strong>Payment processor</strong> if you
            want to merge transactions into an old or existing payment
            processor.
          </li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}
