{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Magento Site Audit for {{ magento_site.description }}
{% endblock title %}

{% block sub_heading %}
  Magento Site Audit for {{ magento_site.description }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'magento.site.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">


      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>
                Description
              </strong>
            </td>
            <td>
              {{ magento_site.description }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                API URL
              </strong>
            </td>
            <td>
              {{ magento_site.api_url }}
            </td>
          </tr>
        </tbody>
      </table>


      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Download Date</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.date_complete|date:'d/m/Y' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
