{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object %}
    Update
  {% else %}
    Create
  {% endif %}
  Magento Site
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
    Update
  {% else %}
    Create
  {% endif %}
  Magento Site
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'magento.site.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-2-3">
      {% include '_form.html' with aligned=True %}
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
