{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Payment Methods for {{ magento_site.description }} Site
{% endblock title %}

{% block sub_heading %}
  Payment Methods for {{ magento_site.description }} Site
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'magento.site.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>Payment Method</th>
            <th>Site</th>
            <th>On Account</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'magento.site.payment.method.update' x.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ x.slug }}
                </a>
              </td>
              <td>
                {{ x.magento_site.description }}
              </td>
              <td>
                {% if x.on_account %}
                  <i class="fa fa-check fa-fw"></i>
                  On Account
                {% else %}
                  <i class="fa fa-times fa-fw"></i>
                  Post as a Batch
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
