{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Sales Order for {{ slug }}
{% endblock title %}

{% block sub_heading %}
  Sales Order for {{ slug }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td colspan="2">
              <strong>increment_id</strong>
            </td>
            <td colspan="2">
              <strong>{{ data.increment_id }}</strong>
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              order_id
            </td>
            <td colspan="2">
              {{ data.order_id }}
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              base_grand_total
              <br>
              base_tax_amount
            </td>
            <td colspan="2">
              {{ data.base_grand_total }}
              <br>
              {{ data.base_tax_amount }}
            </td>
          </tr>
          <tr valign="top">
            <td colspan="2">
              customer_email
              <br>
              customer_firstname
            </td>
            <td colspan="2">
              {{ data.customer_email }}
              <br>
              {{ data.customer_firstname }}
              {% if data.customer_middlename %}
                {{ data.customer_middlename }}
              {% endif %}
              {{ data.customer_lastname }}
            </td>
          </tr>
          <tr valign="top" class="pure-table-odd">
            <td>item_id</td>
            <td>sku</td>
            <td>qty_ordered</td>
            <td>price</td>
          </tr>
          {% for x in data.items %}
            <tr valign="top">
              <td>
                {{ x.item_id }}
              </td>
              <td>
                {{ x.sku }}
                <small>({{ x.name }})</small>
              </td>
              <td>
                {{ x.qty_ordered }}
              </td>
              <td>
                {{ x.price }}
              </td>
            </tr>
          {% endfor %}
          <tr valign="top">
            <td>
              payment.amount_paid
              <br>
            </td>
            <td>
              {{ data.payment.amount_paid }}
              <br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="small-margin-top">
        Data:
        <textarea id="id_code">
          {{ json_data }}
        </textarea>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_codemirror.html' %}
{% endblock script_extra %}
